{:paths ["src"]

 :deps    {io.github.squint-cljs/squint {:git/url "https://github.com/squint-cljs/squint.git"
                                         :git/sha "f5b5f36d0adf5ee81a6a3e8e54bcafb40910e332"}
           backtick/backtick            {:mvn/version "0.3.5"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps  {org.clojure/clojure       {:mvn/version "1.12.0"}
                               dev.onionpancakes/chassis {:mvn/version "1.0.365"}
                               metosin/reitit            {:mvn/version "0.8.0"}
                               org.flatland/ordered      {:mvn/version "1.15.12"}
                               datastar/sdk              {:git/url   "https://github.com/starfederation/datastar/"
                                                          :git/sha   "7f7b555998d24d5a33e16eecbdfd6aa554a16427"
                                                          :deps/root "sdk/clojure/sdk"}
                               datastar/http-kit         {:git/url   "https://github.com/starfederation/datastar/"
                                                          :git/sha   "7f7b555998d24d5a33e16eecbdfd6aa554a16427"
                                                          :deps/root "sdk/clojure/adapter-http-kit"}}}}}
