{:paths ["src"]

 :deps    {io.github.squint-cljs/squint {:git/url "https://github.com/squint-cljs/squint.git"
                                         :git/sha "76e57aea3a870181b6ec89e6f1e43eba5bc90400"}
           backtick/backtick            {:mvn/version "0.3.5"}}
 :aliases {:dev    {:extra-paths ["dev"]
                    :extra-deps  {org.clojure/clojure            {:mvn/version "1.12.0"}
                                  dev.onionpancakes/chassis      {:mvn/version "1.0.365"}
                                  metosin/reitit                 {:mvn/version "0.8.0"}
                                  org.flatland/ordered           {:mvn/version "1.15.12"}
                                  dev.data-star.clojure/sdk      {:mvn/version "1.0.0-RC1"}
                                  dev.data-star.clojure/http-kit {:mvn/version "1.0.0-RC1"}}}
           :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                    :main-opts  ["-m" "kaocha.runner"]}}}
