{:skip-comments true
 :lint-as {starfederation.datastar.clojure.utils/def-clone clojure.core/def}
 :linters       {:unresolved-var {:exclude [starfederation.datastar.clojure.adapter.http-kit/on-open backtick/template]}
                 :not-a-function {:exclude ['(starfederation.datastar.clojure.expressions/->expr)]}
                 :unresolved-symbol {:exclude ['(starfederation.datastar.clojure.expressions/->expr)]}}}
