{:skip-comments true
 :linters       {:not-a-function {:exclude ['(starfederation.datastar.clojure.expressions/->expr)]}
                 :unresolved-symbol {:exclude ['(starfederation.datastar.clojure.expressions/->expr)]}}}
